/* Display Control */
input,
select {
    border-radius: 0 !important;
}

body {
    margin: 0 !important;
}

:after {
    display: none;
}

.Title {
    display: none;
}

.buttonContainer {
    position: absolute;
    top: 800px;
    display: none;
}

#payment h5 {
    display: none !important;
}

#payment .IssueNumber {
    display: none;
}

#payment .StartDate {
    display: none;
}

#payment .historycards {
    display: none;
}

#payment img {
    display: none;
}

#payment .SSN {
    display: none;
}

#shipaddress .addresslist {
    display: none;
}

#shipaddress .usenewaddress {
    display: none;
}

#summary .setupid {
    display: none;
}

#summary h5 {
    display: none;
}

#summary .Title {
    display: none;
}

#summary .trxtype {
    display: none;
}

#summary .batch {
    display: none;
}

#summary .total {
    display: none;
}

#summary .currency {
    display: none;
}

#summary .paylater {
    display: none;
}

#surchargeSection {
position: absolute;
top: 0;
left: 426px;
display: none !important;
}

#trxL2Field > div > div {
    display: none;
}

#trxL2Field > div > div.CustomerVATReg,
#trxL2Field > div > div.ShipToZip,
#trxL2Field > div > div.ShipFromZip,
#trxL2Field > div > div.Desc,
#trxL2Field > div > div.Desc1,
#trxL2Field > div > div.Desc2,
#trxL2Field > div > div.Desc3,
#trxL2Field > div > div.Desc4,
#trxL2Field > div > div.Comment1,
#trxL2Field > div > div.Comment3 {
    display: block;
}

#trxL2Field > div > div.DateOfBirth{
     display: none;
}

#trxL2Field > div > div.Order {
    display: none;
}

#trxL3Field {
    display: none;
}

/* Background Control */
html > body {
    background-color: #f5f5f5 !important;
}

html > body .CardContainer {
    background-color: transparent !important;
    padding-top: 1px !important;
}

/* Global Reset & Format*/
html > body * {
    margin: 0 !important;
    padding: 0 !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-family: sans-serif, Arial, Helvetica !important;
    font-size: 12px;
    float: none !important;
    clear: none !important;
    color: #000;
}

html > body * input[type="text"] {
    border: 1px solid #b2aba3 !important;
    color: #000 !important;
    text-indent: 0;
}

html > body * label {
    width: 104px;
    height: 19px;
    line-height: 19px;
    border-bottom: 1px solid #b2aba3 !important;
}

html > body * .bold {
    font-weight: normal !important;
}

html > body * h5 {
    width: 360px !important;
    height: 20px;
    line-height: 20px;
    border: 1px solid #b2aba3;
    background: #c6bdb4;
    color: #000;
    text-indent: 8px;
}

html > body * .ContainerSub h5 {
    width: 318px !important;
}

/* Block position */
.Checkoutpage {
    width: 760px;
    height: 700px;
}

.Checkoutpage label {
    margin-right: -4px !important;
}

input[type=text],
textarea {
    margin: -1px 0 0 0 !important;
}

.Fix_CC {
    width: 760px;
    height: 330px;
    float: left;
    clear: both;
    position: relative;
}

.Checkoutpage #payment {
    width: 760px;
    min-height: 105px;
    float: left;
    clear: both;
}

.Checkoutpage #payment > div {
    width: 760px;
    min-height: 105px;
    float: left;
    clear: both;
}

.Checkoutpage #payment .CardContainer {
    width: 760px;
    min-height: 105px;
    float: left;
    clear: both;
    position: relative;
    top: -2px;
}

.Checkoutpage #payment .NameOnCard {
    position: absolute;
    left: 426px;
    top: 0;
}

.Checkoutpage #billaddress {
    width: 425px;
    position: absolute;
}

.Checkoutpage #trxL2Field {
    width: 425px;
    height: 180px;
    position: absolute;
    left: 425px;
}

.Checkoutpage #shipaddress {
    width: 760px;
    position: absolute;
    left: 0;
    top: 212px;
}

.Checkoutpage .origid label {
    height: 19px !important;
    line-height: 19px !important;
    width: 104px;
    display: inline-block;
    margin-top: -1px !important;
}

.Checkoutpage .origid input[type=text] {
    width: 287px !important;
    height: 19px;
}

#payment input[type=text].ccinput-firstname {
    width: 172px !important;
}

#payment input[type=text].ccinput-middlename {
    width: 80px !important;
}

#payment input[type=text].ccinput-lastname {
    width: 172px !important;
}

/* payment Block */
.Checkoutpage #billaddress h5 {
    width: 450px !important;
    border-right-style: none;
}

.Checkoutpage #trxL2Field h5 {
    position: relative;
    left: 10px !important;
    border-left-style: none;
}

.Checkoutpage #payment .DS_Container {
    float: right !important;
    width: 320px;
    position: relative;
    left: -15px;
}

.Checkoutpage #payment .CardContainer .FirstName {
    position: absolute;
    width: 760px;
    width: 425px;
    height: 20px;
    top: 0;
}

.Checkoutpage #payment .CardContainer .MiddleInitial {
    position: absolute;
    width: 425px;
    height: 20px;
    top: 20px;
}

.Checkoutpage #payment .CardContainer .LastName {
    position: absolute;
    width: 425px;
    height: 20px;
    top: 40px;
}

.Checkoutpage #payment .CardContainer .Driverlic {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
    position: absolute;
    top: 70px;
}

.Checkoutpage #payment .CardContainer .SSN {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
}

.Checkoutpage #payment .CardContainer .Driverlic label {
    width: 124px !important;
}

.Checkoutpage #payment .CardContainer .SSN label {
    width: 121px !important;
}

.Checkoutpage #payment .CardContainer .Driverlic input[type=text] {
    width: 172px !important;
}

.Checkoutpage #payment .CardContainer .SSN input[type=text] {
    width: 172px !important;
}

.Checkoutpage #payment .CardContainer .AccountType {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
}

.Checkoutpage #payment .CardContainer .AccountType label {
    top: 0px !important;
    width: 106px;
    height: 19px;
}

.Checkoutpage #payment .CardContainer select{
    margin-left: 120px !important;
    margin-top: -20px !important;
    width: 183px;
    vertical-align: top;
}

.Checkoutpage #payment .CardContainer .EntryClass {
   display: none !important;
}

.Checkoutpage #payment .CardContainer .CheckNumber label {
    width: 106px;
}

.Checkoutpage #payment .CardContainer .AccountNumber label {
    width: 106px;
}

.Checkoutpage #payment .CardContainer .ABANumber label {
    width: 106px;
}

.Checkoutpage #payment .CardContainer .CheckNumber {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
}

.Checkoutpage #payment .CardContainer .AccountNumber {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
    margin-top: 1px !important;
}

.Checkoutpage #payment .CardContainer .ABANumber {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
}

.Checkoutpage #payment .CardContainer .ABANumber:after {
    content: "";
    float: left;
    clear: both;
    margin-bottom: 20px !important;
}

.Checkoutpage #payment .CardContainer .savecard_h6Container {
    width: 300px;
    height: 20px;
    float: left !important;
    clear: both !important;
    position: relative;
    left: 120px;
    top: 4px;
}

.Checkoutpage #payment .CardContainer .savecard_h6Container h6.ccinput-issavecard {
    float: left !important;
    margin-right: 20px !important;
}

.Checkoutpage #payment .CardContainer .savecard_h6Container h6.setdefaultwaleet {
    float: left !important;
}

.Checkoutpage #payment .CardContainer .savecard_h6Container h6 span {
    left: 0;
    top: -5px;
}

.Checkoutpage #payment .CardContainer label {
    display: inline-block !important;
    width: 105px;
    margin-left: 17px !important;
}

.Checkoutpage #payment .CardContainer input[type=text] {
    /* margin: 1px 0 0 -5px !important;*/
    width: 287px;
    height: 19px;
}

.Checkoutpage #payment .CardNumber {
    float: left;
    padding-top:20px!important;
}

.Checkoutpage #payment .CardNumber  label {
    margin-bottom: 20px!important;
}

.Checkoutpage #payment .CardNumber input {
    margin-bottom: 20px!important;
}

.Checkoutpage .RContainer{
    top: -10px;
    left: 343px;
}
.Checkoutpage .RContainer img{
    display:block!important;
}

.Checkoutpage #payment .origid {
    float: left !important;
    clear: both !important;
}

.Checkoutpage #payment .origid #ReqOriginid {
    width: 90px !important;
    position: relative;
    left: -1px;
    margin-top:0 !important;
}

.Checkoutpage #payment .CardContainer input#NewCheck_AccountNumber {
    margin: 1px 0 0 -2px !important;
}

.Checkoutpage #payment .CardContainer input#NewCheck_ABANumber {
    margin: 1px 0 0 -2px !important;
}

/*.Checkoutpage #payment .CardContainer select {
    margin-left: 105px !important;
    width: 120px;
    margin: 0 0 0 -2px !important;
}*/

.Checkoutpage #payment .CardContainer input#NewCheck_CardHolderMiddleName {
    width: 60px;
}

.AuthorizeCode {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
    margin: 0 1px 0 0 !important;
}

.Checkoutpage #payment .AuthorizeCode label {
    height: 19px !important;
    line-height: 19px !important;
    width: 106px;
    display: inline-block;
    float: left !important;
}

.Checkoutpage #payment .AuthorizeCode input[type=text] {
    width: 287px !important;
    height: 19px !important;
    line-height: 19px !important;
    float: left !important;
    margin-left: 1px !important;
}

.MiddleInitial input[type=text] {
    text-align: left;
}

.Checkoutpage #payment .CardContainer .ccinput-checknumber {
    position: relative;
    border-bottom: none !important;
    top: 1px;
    left: -2px;
}

/* Creadit */
.Checkoutpage #payment .CardContainer .ccinput-cardnumber {
    width: 220px !important;
}

.Checkoutpage #payment .CardContainer #NewCheck_CardHolderFirstName {
    margin-left: 0 !important;
}

.Checkoutpage #payment .CardContainer #NewCheck_CardHolderMiddleName {
    margin-left: 0 !important;
}

.Checkoutpage #payment .CardContainer #NewCheck_CardHolderLastName {
    margin-left: 0 !important;
}

.Checkoutpage #payment .DS_Container .ccinput-driverlicense {
    margin-left: 0 !important;
}

.Checkoutpage #payment .CardContainer .CardTypeNumber {
    float: left !important;
    width: 107px;
    position: relative;
    top: 2px;
}

.Checkoutpage #payment .CardContainer #NewCard_CardNumber {
    float: left !important;
    margin-right: -100px !important;
    width: 220px !important;
}

.Checkoutpage #payment .CardContainer .CardDate {
    float: left !important;
    clear: both !important;
    margin: 0 0 0 0 !important;
    height: 20px !important;
}

.Checkoutpage #payment .CardContainer .CardDate label {
    top: -1px;
    position: relative;
    width: 106px
}

.Checkoutpage #payment .CardContainer .CardDate input[type=text] {
    width: 30px !important;
}

.Checkoutpage #payment .CardContainer .CardDate input#exptime1 {
    margin-left: -2px !important;
    position: relative;
    top: -1px;
    height: 19px !important;
}

.Checkoutpage #payment .CardContainer .CardDate input#exptime2 {
    position: relative;
    left: -5px;
    top: -1px;
    height: 19px !important;
}

.Checkoutpage #payment .CardContainer .cvv2 {
    position: absolute;
    left: 210px;
    top: 62px;
    height: 20px !important;
}

.Checkoutpage #payment .CardContainer .cvv2 label {
    width: 99px !important;
    position: relative;
    top: 0px;
}

.Checkoutpage #payment .CardContainer .cvv2 input[type=text] {
    margin: 0 0 0 -2px !important;
    width: 80px !important;
    height: 19px;
}

.Checkoutpage #payment .CardContainer #ccrawdata {
    position: relative;
    left: -1px;
}

.Checkoutpage #payment .CardContainer input#exptime1 {
    margin: 0 0 0 -1px !important;
}

/* billaddress Block */
.Checkoutpage #billaddress .ContainerSub {
    margin: 5px 0 0 18px !important;
}

.Checkoutpage #billaddress div {
    width: 425px;
}

.Checkoutpage #billaddress label {
    display: inline-block;
    width: 104px;
    position: relative;
}

.Checkoutpage #billaddress input[type=text] {
    height: 20px;
    width: 287px;
    border-bottom: none !important;
}

.Checkoutpage #billaddress input#NewBillAddresses_AddressLine2 {
    margin-left: 103px !important;
    margin-top: -1px !important;
}

.Checkoutpage #billaddress input#NewBillAddresses_AddressLine3 {
    margin-left: 103px !important;
    margin-top: -1px !important;
}

.Checkoutpage #billaddress input#NewBillAddresses_Email {
    border-bottom: 1px solid #b2aba3 !important;
}

/* trxL2Field Block */
.Checkoutpage #trxL2Field > div {
    width: 360px;
    margin: 5px 0 0 18px !important;
}

.Checkoutpage #trxL2Field > div div {
    width: 422px;
    height: 20px;
}

.Checkoutpage #trxL2Field label {
    display: inline-block;
    width: 121px;
    position: relative;
    left: 1px;
}

.Checkoutpage #trxL2Field input[type=text] {
    height: 19px;
    width: 172px;
    margin: -1px 0 0 0px !important;
}

.Checkoutpage #trxL2Field input#Document_Head_6__Value {
    border-bottom: 1px solid #b2aba3 !important;
}

.Checkoutpage #trxL2Field .Desc {
    position: absolute;
    top: 240px;
    left: -406px;
    width: 460px;
}

.Checkoutpage #trxL2Field .Desc1 {
    position: absolute;
    top: 260px;
    left: -406px;
    width: 240px;
}

.Checkoutpage #trxL2Field .Desc2 {
    position: absolute;
    top: 280px;
    left: -406px;
    width: 240px;
}

.Checkoutpage #trxL2Field .Desc3 {
    position: absolute;
    top: 260px;
    left: -141px;
    width: 240px;
}

.Checkoutpage #trxL2Field .Desc4 {
    position: absolute;
    top: 280px;
    left: -141px;
    width: 240px;
}

.Checkoutpage #trxL2Field .Comment1 {
    position: absolute;
    top: 240px;
    left: 87px;
    width: 320px;
}

.Checkoutpage #trxL2Field .Comment3 {
    position: absolute;
    top: 260px;
    left: 87px;
    width: 320px;
}

.Checkoutpage #trxL2Field .Desc input[type=text] {
    width: 341px;
    position: relative;
}

.Checkoutpage #trxL2Field .Desc1 input[type=text] {
    width: 118px;
    border-top: none !important;
}

.Checkoutpage #trxL2Field .Desc2 input[type=text] {
    width: 118px;
    border-top: none !important;
}

.Checkoutpage #trxL2Field .Desc3 input[type=text] {
    width: 118px;
    border-top: none !important;
}

.Checkoutpage #trxL2Field .Desc4 input[type=text] {
    width: 118px;
    border-top: none !important;
}

.Checkoutpage #trxL2Field .Comment1 input[type=text] {
    width: 145px;
}

.Checkoutpage #trxL2Field .Comment3 input[type=text] {
    width: 145px;
    border-top: none !important;
}

.Checkoutpage #trxL2Field .Desc label {
    width: 104px;
}

.Checkoutpage #trxL2Field .Desc1 label {
    width: 104px;
}

.Checkoutpage #trxL2Field .Desc2 label {
    width: 104px;
}

.Checkoutpage #trxL2Field .Desc3 label {
    width: 60px;
}

.Checkoutpage #trxL2Field .Desc4 label {
    width: 60px;
}

.Checkoutpage #trxL2Field .Comment1 label {
    width: 80px;
}

.Checkoutpage #trxL2Field .Comment3 label {
    width: 80px;
}

/* Optional Block */
.Checkoutpage #shipaddress {
    min-height: 1px !important;
}

.Checkoutpage #shipaddress h5 {
    width: 752px !important;
}

/* Checkoutpage Logo */
.CheckoutPageLogo {
    width: 200px;
    position: absolute;
    top: 290px;
    right: 18px;
    display: block;
}

/* Wallet */
.Wallet h3 {
    display: none;
}

.Wallet .EntryOption {
    display: none;
}

.Wallet .CardNumber {
    float: left !important;
    clear: both !important;
    margin: -1px 61px 0 0 !important;
}

.Wallet .CardNumber label {
    top: 1px !important;
}

.Wallet .CardNumber input[type=text] {
    position: relative;
    left: -2px;
}

.Wallet #payment .CardContainer {
    position: absolute;
    width: 760px;
    height: 125px;
}

.Wallet .CardContainer input[type=text] {
    //position: relative;
    //left: -3px;
}

.Wallet .CardContainer select {
    position: relative;
    left: -3px;
}

.Wallet #payment .CardContainer label {
    display: inline-block;
    width: 114px;
    position: relative;
    left: 5px;
    top: -1px;
}

//.Wallet #payment .AccountNumber label {
//    height:17px;
//}

.Wallet #payment .CardContainer AccountNumber label {
    height: 18px;
    display: inline-block;
}

.Wallet #payment .NameOnCard {
    position: absolute;
    left: 439px;
    top: 0;
}

.Wallet #payment .NameOnCard label {
    position: relative;
    top: 3px !important;
    left: 1px !important;
}

.Wallet #payment .DS_Container {
    position: absolute;
    width: 760px;
    height: 105px;
    top: 60px;
}

.Wallet #payment .CardContainer .AccountType {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
}

.Wallet #payment .CardContainer .CheckNumber {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
}

.Wallet #payment .CardContainer .AccountNumber {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
}

.Wallet #payment .CardContainer .AccountType label {
    height: 18px;
}

.Wallet #payment .CardContainer .AccountNumber label {
    height: 18px;
}

.Wallet #payment .CardContainer .ABANumber label {
    height: 21px;
}

.Wallet #payment .CardContainer .AccountNumber #WalletECheck_AccountNumber {
    top: -1px;
}

.Wallet #payment .CardContainer .ABANumber {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 21px;
}

.Wallet #payment .CardContainer h6.ccinput-issavecard {
    float: left !important;
    clear: both !important;
    width: 425px;
    height: 20px;
    margin: 50PX -20px 0 0 !important;
}

.Wallet #payment .CardContainer h6.setdefaultwaleet {
    position: absolute;
    width: 425px;
    height: 20px;
    top: 90px;
    left: 400px;
}

//.Wallet #payment .CardContainer input[type=text] {
//    width: 293px !important;
//    height: 19px;
//}

.Wallet #payment .CardContainer select {
    margin-left: 106px;
    width: 202px;
}

.Wallet #payment .CardContainer input#WalletCreditCard_CardHolderMiddleName {
    width: 60px;
}

//.Wallet #payment .CardContainer .MiddleInitial label {
//    text-align: left;
//    margin-left: 0px !important;
//}
//
//.Wallet #payment .CardContainer .LastName label {
//    margin-left: 0px !important;
//}

.Wallet #payment h6.checkbox {
    position: absolute;
    left: 118px;
    top: 50px;
}

.Wallet #payment h6.CustomerCSS-wallet_Echeck {
    position: absolute;
    left: 118px;
    top: 70px;
}

.Wallet #payment .CardContainer .Driverlic {
    position: absolute;
    left: 439px;
    top: 69px;
}

.Wallet #payment .CardContainer .Driverlic label {
    width: 121px !important;
    left: 0px;
    top: 1px;
}

.Wallet #payment .CardContainer .SSN {
    position: absolute;
    left: 439px;
    top: 81px;
}

.Wallet #payment .CardContainer .Driverlic input[type=text] {
    width: 182px !important;
}

.Wallet #payment .CardContainer .SSN input[type=text] {
    width: 182px !important;
}

.Wallet #payment .CardContainer .AccountType select {
    width: 295px;
    top: -1px;
    height: 20px;
}

.Wallet #payment .CardContainer .CheckNumber input[type=text],
.Wallet #payment .CardContainer .ABANumber input[type=text],
.Wallet #payment .CardContainer .CheckNumber input[type=text],
.Wallet #payment .CardContainer .Driverlic input[type=text],
.Wallet #payment .CardContainer .SSN input[type=text] {
    width: 293px;
}

.Wallet #payment .CardContainer .FirstName label {
    position: relative;
    left: 1px;
}

.Wallet #payment .CardContainer .CardDate {
    float: left !important;
    clear: both !important;
    margin: -1px 205px 0 0 !important;
}

.Wallet #payment .CardContainer .CardDate input[type=text] {
    width: 30px !important;
}

.Wallet #payment .CardContainer .CardDate label {
    position: relative;
    top: 0 !important;
}

.Wallet #payment .CardContainer .CardDate input#exptime1 {
    margin-left: 0 !important;
    //left:-3px;
}

.Wallet #payment .CardContainer .CardDate input#exptime2 {
    margin-left: -5px !important;
    //left:-3px;
}

/* billaddress Block */
.Wallet input {
    position: relative;
    left: -1px;
}

.n-section-wallecardcontent {
    height: 340px;
}

.Wallet #billaddress {
    width: 425px;
    position: absolute;
    top: 100px;
}

.Wallet #billaddress .ContainerSub {
    margin: 5px 0 0 20px !important;
}

.Wallet #billaddress div {
    width: 425px;
}

.Wallet #billaddress label {
    display: inline-block;
    width: 112px;
    position: relative;
    left: 5px;
    top: 0;
}

.Wallet #billaddress .walletBilltoPhone label,
.Wallet #billaddress .Email_CreateWallet label,
.Wallet #billaddress label.walletBilltoPhone,
.Wallet #billaddress label.Email_CreateWallet {
    width: 122px;
}

.Wallet #billaddress input[type=text] {
    height: 19px;
    width: 293px;
    margin: 0 !important;
    border-bottom: 0 !important;
    left: -1px;
}

.Wallet #billaddress input#NewBillAddresses_Email {
    border-bottom: 1px solid #b2aba3 !important;
    width: 181px;
}

.Wallet #billaddress input#Billto_Phone1 {
    border-bottom: 1px solid #b2aba3 !important;
    width: 182px;
}

.Wallet #billaddress div.Email_CreateWallet label {
    position: absolute;
    left: 439px;
    top: 1px;
    height: 20px;
}

.Wallet #billaddress div.Email_CreateWallet input[type=text] {
    position: relative;
    left: -2px;
}

.Wallet #billaddress div.walletBilltoPhone label {
    position: absolute;
    left: 439px;
    top: 21px;
}

.Wallet #billaddress label.Email_CreateWallet {
    position: absolute;
    left: 439px;
    top: 2px;
}

.Wallet #billaddress label.walletBilltoPhone {
    position: absolute;
    left: 439px;
    top: 21px;
}

.Wallet #billaddress input#Billto_Phone1 {
    position: absolute;
    left: 554px;
    top: 20px;
}

.Wallet #billaddress input#Billto_Email {
    position: absolute;
    left: 554px;
    top: 0px;
}

.Wallet #billaddress input#Billto_AddressLine2 {
    margin-left: 115px !important;
    position: relative;
    top: -1px;
}

.Wallet #billaddress input#Billto_AddressLine3 {
    margin-left: 115px !important;
    position: relative;
    top: -1px;
}

.Wallet #billaddress input#Billto_Email {
    border-bottom: 1px solid #b2aba3 !important;
    width: 182px !important;
    height: 20px;
}

.Wallet #billaddress input#walletBilltoPhone {
    border-bottom: 1px solid #b2aba3 !important;
}

.Wallet #billaddress input#Billto_CountryCode {
    border-bottom: 1px solid #b2aba3 !important;
}

.Wallet #billaddress input#Billto_Email1 {
    border-bottom: 1px solid #b2aba3 !important;
    position: absolute;
    left: 439px;
    top: 0;
    width: 182px !important;
}

.Wallet #billaddress input#billtoPhone1 {
    border-bottom: 1px solid #b2aba3 !important;
    position: absolute;
    left: 542px;
    top: 20px;
    width: 182px !important;
}

.Wallet #payment input[type=text]#WalletECheck_CardHolderFirstName {
    width: 182px !important;
}

.Wallet #payment input[type=text]#WalletECheck_CardHolderMiddleName {
    width: 80px !important;
    position: relative;
}

.Wallet #payment input[type=text]#WalletECheck_CardHolderLastName {
    width: 182px !important;
}

.Wallet #billaddress .Street input#Billto_AddressLine1 {
    margin: 0 !important;
}

.Wallet #billaddress .State,
.Wallet #billaddress .Zip,
.Wallet #billaddress .City {
    height: 20px !important;
    position: relative;
    top: -1px;
}

.Wallet #billaddress .Country {
    height: 20px !important;
    position: relative;
    top: -1px;
}

.Wallet #billaddress .Street label {
    top: 0;
}

.Wallet #billaddress input#billtoPhone1 {
    width: 182px !important;
}

.Wallet .Street_CreateWallet {
    top: 0 !important;
}

.Wallet .walletBillTo input#Billto_CountryCode {
    margin: 0 !important;
}

.Wallet label.Country_CreateWallet,
.Wallet input#Billto_CountryCode,
.Wallet .Zip label,
.Wallet .Country label {
    position: relative;
    top: -1px !important;
}

/*POPup*/
.ui-dialog .ui-dialog-title {
    background-color: transparent;
    padding-left: 5px !important;
    padding-top: 3px !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background-image: none !important;
    background: #fff !important;
}

#messageBox {
    background-image: none !important;
    background: #f5f5f5 !important;
    border: 1px solid none !important;
}

.ui-dialog .ui-dialog-titlebar {
    background: #08256b;
    padding: 5px 0;
    font-size: 12px;
    font-weight: normal;
    font-family: sans-serif, Arial, Helvetica !important;
    text-indent: 0 !important;
}

.ui-widget-header a {
    background: #d6d2cf !important;
    height: 16px !important;
    width: 16px !important;
    border: 1px solid #000 !important;
}

.ui-widget-header a span {
    border-top: 1px solid #fff;
    height: 10px !important;
    width: 14px !important;
    font-size: 14px !important;
    text-align: center;
    border-top: 1px solid #d7d2ce !important;
    border-right: 1px solid #848287 !important;
    border-bottom: 1px solid #848287 !important;
    border-left: 1px solid #d7d2ce !important;
}

.ui-widget-header .ui-icon {
    background-image: none !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    border: none !important;
}

.ui-widget-header a span {
    color: #000;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #fff !important;
    border-top: 1px solid #f5f5f5 !important;
    border-right: 1px solid #848285 !important;
    border-bottom: 1px solid #848285 !important;
    border-left: 1px solid #f5f5f5 !important;
}

.ui-state-highlight:hover,
.ui-widget-content .ui-state-highlight:hover,
.ui-widget-header .ui-state-highlight:hover {
    background: #fff !important;
    cursor: default;
}

html .ui-dialog {
    border-top: 1px solid #fff !important;
    border-right: 1px solid #414141 !important;
    border-bottom: 1px solid #414141 !important;
    border-left: 1px solid #fff !important;
}

.validation-summary-errors ul {
    background: #fff !important;
    padding: 20px 0 0 0 !important;
}

.validation-summary-errors ul li {
    display: block;
    min-height: 40px;
    text-indent: 20px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: normal;
    font-family: sans-serif, Arial, Helvetica !important;
    color: #000;
}

.ui-dialog .ui-dialog-titlebar-close span {
    border: none !important;
    height: 14px !important;
    line-height: 16px !important;
    width: 14px !important;
    position: relative !important;
    left: 0 !important;
    color: #000 !important;
    background: #d6d2cf !important;
    padding: 0 1px 2px 1px !important;
}

.CustomerCSS #billaddress {
    top: -40px;
    min-height: 160px !important;
}

.ui-dialog-buttonpane {
    margin: 0 !important;
    padding: 0 !important;
}

.ui-dialog-buttonpane * {
    position: static !important;
}

.ui-dialog .ui-dialog-buttonpane {
    min-height: 20px;
    background: #fff !important;
    border: 1px solid #fff;
    border-left: 0;
    background: #f5f5f5 !important;
    padding: 10px 0 15px 0 !important;
}

.ui-dialog-buttonset {
    float: right !important;
    margin-right: 10px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
    background: #d6d2cf !important;
    border-top: 1px solid #fff !important;
    border-right: 1px solid #414141 !important;
    border-bottom: 1px solid #414141 !important;
    border-left: 1px solid #fff !important;
    margin: 0 30px 0 0 !important;
    border-radius: 0 !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover {
    background: #d6d2cf !important;
    border-top: 1px solid #fff !important;
    border-right: 1px solid #414141 !important;
    border-bottom: 1px solid #414141 !important;
    border-left: 1px solid #fff !important;
    margin: 10px 30px 0 0;
    cursor: pointer;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button span {
    padding: 3px 20px !important;
    color: #000 !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:hover span {
    color: #000 !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 0 !important;
}

html body div.ui-dialog-buttonpane div.ui-dialog-buttonset button.ui-button {
    margin: 0 2px 0 0 !important;
    padding: 0 10px !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right !important;
    margin-right: 5px !important;
}

.WalletPageLogo {
    display: block;
    float: left !important;
    margin-left: 275px !important;
}

legend {
    display: none !important;
}

.WalletPageLogo {
    position: relative;
    top: -10px;
}

html body * .ui-dialog .ui-dialog-buttonpane {
    float: right !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    top: 3px !important;
}

span.ui-icon-closethick:before {
    content: "X";
}

#payment .CardContainer #divBluefinTextInput {
    height: 20px;
}

#payment .CardContainer #divBluefinTextInput label {
    vertical-align: top;
    height: 20px;
}

.Checkoutpage #payment .CardContainer #divBluefinTextInput label {
    //height: 19px !important;
}

#payment .CardContainer .BluefinRawData label {
    display: inline-block;
    height: 20px;
    position: relative;
}

.Wallet #payment .CardContainer .BluefinRawData label {
    top: -4px;
}

#payment .CardContainer .NameOnCard label {
    width: 124px;
    float: left !important;
}

.Checkoutpage .shipaddresscontainer .ContainerSub {
    margin: 5px 0 0 18px !important;
    display: none !important;
}

.CardContainer{
     display: none;
   }